<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | SimpleFramework</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    @await Component.InvokeAsync("BackendStyleSheets")
    @await Component.InvokeAsync("BackendScripts")
</head>
<body>
    <div class="container with-side @(this.ViewBag.HasSideDetails == null ? null : "with-side-details")">

        <div class="side">
            <a class="" href="#">
                <span>SimpleFramework</span>
            </a>
            @await Component.InvokeAsync("BackendMenu")
            @await Component.InvokeAsync("Navigation", new { viewName = "BootstrapTopNav", filterName = NamedNavigationFilters.FullTree, startingNodeKey = "" })
        </div>
        @* 面包屑 *@
        <breadcrumb asp-homepage-title="Home"
                    asp-homepage-url="@Url.Action("Index", "Home")"
                    asp-homepage-glyphicon="glyphicon glyphicon-home"></breadcrumb>
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>