@model SimpleFramework.Module.Backend.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_WidgetInstances", Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeFeatured))

@await Html.PartialAsync("_WidgetInstances", Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeMainContent))

@await Html.PartialAsync("_WidgetInstances", Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeAfterMainContent))
@* 测试多语言 *@
<h3>@ViewData["Message"]</h3>
@*<div>
        <h2 class="page-header">Sample data</h2>
        <h1>Delete all current catalog data and create sample catalog</h1>
        <form asp-controller="SampleData" asp-action="ResetToSample" method="post">
            <button type="submit" class="btn btn-danger">Do it!</button>
        </form>
    </div>*@
<dnt-captcha asp-captcha-generator-digits="4"
             asp-captcha-generator-max="9000"
             asp-captcha-generator-min="1"
             asp-captcha-generator-language="English"
             asp-placeholder="Security code as a number"
             asp-validation-error-message="Please enter the security code as a number."
             asp-font-name="Tahoma"
             asp-font-size="20"
             asp-fore-color="#1B0172"
             asp-back-color="#ccc"
             asp-text-box-class="text-box single-line form-control col-md-4"
             asp-text-box-template="<div class='input-group col-md-4'><span class='input-group-addon'><span class='glyphicon glyphicon-lock'></span></span>{0}</div>"
             asp-validation-message-class="text-danger"
             asp-area-name="" />