 .weixin{position: fixed;bottom: 20px;right:10px;text-align: center;border: solid 1px #e6e6e6;padding: 10px;background-color: rgb(249, 249, 249);border-radius: 4px;}
.shang_box{width: 540px;height: 540px;}
.shang_box img{border: none;border-width: 0;}
.shang_close{float: right;display: inline-block;}
.shang_logo{display: block;text-align: center;margin: 20px auto;}
.shang_tit{width: 100%;height: 75px;text-align: center;line-height: 66px;color: #a3a3a3;font-size: 16px;font-family: 'Microsoft YaHei';margin-top: 7px;margin-right: 2px;}
.shang_tit p{color: #a3a3a3;text-align: center;font-size: 16px;}
.shang_payimg{width: 170px;padding: 10px;border: 6px solid #EA5F00;margin: 0 auto;border-radius: 10px;height: 170px;}
.shang_payimg img{display: block;text-align: center;width: 140px;height: 140px;}
.pay_explain{text-align: center;margin: 10px auto;font-size: 12px;color: #545454;}
.radiobox{width: 16px;height: 16px;background: url('../images/about/radio2.jpg');display: block;float: left;margin-top: 5px;margin-right: 14px;}
.checked .radiobox{background: url('../images/about/radio1.jpg');}
.shang_payselect{text-align: center;margin: 0 auto;margin-top: 40px;cursor: pointer;height: 60px;width: 280px;}
.shang_payselect .pay_item{display: inline-block;margin-right: 10px;float: left;}
.shang_info{clear: both;}
.shang_info p, .shang_info a{color: #C3C3C3;text-align: center;font-size: 12px;text-decoration: none;line-height: 2em;}
/*Tabs*/

#page-wrapper .content-tabs{border-bottom:solid 2px #2c3e50;background: #edeae6 !important;height:41px;border-top:none;}
.content-tabs{position:relative;height:42px;line-height:39.5px;background:#fafafa;border-bottom:solid 2px #2c3e50;font-size:12px;border-top: 1px solid #ddd;}
.content-tabs .roll-nav,.page-tabs-list{position:absolute;width:40px;height:39px;text-align:center;color:#475059;z-index:2;top:0}
.content-tabs .roll-left{left:0;border-right:solid 1px #ddd}
.content-tabs .roll-right{right:0;border-left:solid 1px #ddd}
.content-tabs button{background: #f5f5f5;border:0;height:39px;line-height:39px;width:40px;outline:0;}
.content-tabs button:hover{background: #f5f5f5;}
.content-tabs button i{color: #999;}
.content-tabs nav.page-tabs{margin-left:40px;width:100000px;height:40px;overflow:hidden}
.content-tabs nav.page-tabs .page-tabs-content{float:left}
.content-tabs .page-tabs a{display:block;float:left;border-right:solid 0px #ddd;padding:0 15px;padding-right:8px;text-decoration:none;color:#475059;}
.content-tabs .page-tabs a:first-child{padding-right:15px;}
.content-tabs .page-tabs a.active{background: #2c3e50;color: #fff;border-right: solid 1px #2c3e50;}
.content-tabs .page-tabs a i{margin-top:-10px;right: 0px;position: relative;color: #999;}
.content-tabs .page-tabs a i:hover{color:#c00 !important;}
.content-tabs .page-tabs a.active i:hover{color:#fff !important;}
.content-tabs .roll-right.tabRight{right:120px}
.content-tabs .roll-right.btn-group{right:40px;width:80px;padding:0}
.content-tabs .roll-right.btn-group button{width:80px}
.content-tabs .roll-right.tabExit{background:#fff;height:39px;width:40px;outline:0}