@model ForgotPasswordViewModel
@inject SignInManager<UserEntity> SignInManager

@{
    Layout = "~/Views/Shared/_Root.cshtml";
    ViewData["Title"] = Localizer["访问授权"];
}

<div id="content">
  
    <div id="content-box" class="clearfix">
        <div id="zone-main" class="zone-instance">
            <div class="zone-content">
                <div data-zone-location="Page" class="block-instance login">
                    <div class="block-content">
                        <h4>用户没有权限访问该也main</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

 
 