<div id="MvcLookup" class="mvc-lookup">
    <div class="mvc-lookup-search-group">
        <div class="mvc-lookup-search-box">
            <input class="mvc-lookup-search" />
            <div class="mvc-lookup-rows">
                <input />
            </div>
        </div>
    </div>
    <div class="mvc-lookup-loading">
    </div>
    <div class="mvc-lookup-error">
    </div>
    <table>
        <thead></thead>
        <tbody></tbody>
    </table>
    <ul></ul>
</div>
