
@model SF.Web.Barebone.Backend.ViewModels.BackendMenuGroupViewModel
<div class="menu-group">
  <div class="name">
    @Model.Name
  </div>
  <div class="menu-items">
    @foreach (var backendMenuItem in this.Model.BackendMenuItems)
    {
      @Html.Partial("_BackendMenuItem", backendMenuItem)
    }
  </div>
</div>