
@model SF.Web.Barebone.Backend.ViewModels.BackendMenuItemViewModel
<a class="menu-item @(this.ViewBag.ActiveMenuItem == this.Model.Url.Replace("/backend/", string.Empty) ? "active" : null)" href="@Model.Url">
  @Model.Name
</a>