<ul class="nav nav-stacked navbar-side">
    <li>
        <i class="fa fa-book"></i>
        <ul class="nav nav-childpages">
            <li class="title">例子</li>
            <li class="header">Office Information</li>
            @*<li>
                <a role="menu-item" href="/Home/Dashboard">Dashboard</a>
            </li>
            <li>
                <a role="menu-item" href="/Route/List">Route</a>
            </li>
            <li>
                <a role="menu-item" href="/Demo/CampusDetail">CampusDetail</a>
            </li>
            <li>
                <a role="menu-item" href="/Demo/GroupType">GroupType</a>
            </li>
            <li>
                <a role="menu-item" href="/Demo/Tree">Tree</a>
            </li>
            <li>
                <a role="menu-item" href="/Demo/Analysis">Analysis</a>
            </li>
            <li>
                <a role="menu-item" href="/Demo/OrgChart">OrgChart</a>
            </li>*@
        </ul>
    </li>
    <li>
        <i class="fa fa-user"></i>
        <ul class="nav nav-childpages">
            <li class="title">用户管理</li>
            <li class="header">Manage</li>
            <li>
                <a role="menu-item" href="/User" target="iframepage">用户</a>
            </li>
            <li>
                <a role="menu-item" href="/Home/UEditor" target="iframepage">UEditor测试</a>
            </li>
                   <li>
                <a role="menu-item" href="/Home/EditorMD" target="iframepage">EditorMD测试</a>
            </li>
            @*<li>
                <a role="menu-item" href="/DataItem" target="iframepage">字典管理</a>
            </li>
            <li>
                <a role="menu-item" href="/page/142">Prayer</a>
            </li>
            <li>
                <a role="menu-item" href="/page/252">Tags</a>
            </li>
            <li>
                <a role="menu-item" href="/page/263">Merge People</a>
            </li>
            <li>
                <a role="menu-item" href="/page/5351">Connections</a>
            </li>
            <li class="header">Communications</li>
            <li>
                <a role="menu-item" href="/Communication">New Communication</a>
            </li>
            <li>
                <a role="menu-item" href="/page/171">Communication History</a>
            </li>*@
        </ul>
    </li>
    <li>
        <i class="fa fa-money"></i>
        <ul class="nav nav-childpages">
            <li class="title">财务管理</li>
            <li class="header">Functions</li>
            @*<li>
                <a class="menuItem" data-id="91A6CFAD-B2F9-4294-BDAE-76DECF012C6C" role="menu-item" href="/page/83">Transactions</a>
            </li>
            <li>
                <a class="menuItem" data-id="91A6CFAD-B2F9-4294-BDAE-76DECF419C6C" role="menu-item" href="/page/158">Pledges</a>
            </li>
            <li>
                <a  class="menuItem" data-id="91A6CFAD-B2F9-4294-BDAE-76DECF418C6C" role="menu-item" href="/page/185">Scheduled Transactions</a>
            </li>
            <li>
                <a class="menuItem" data-id="91A6CFAD-B2F9-4294-BDAE-76DECF417C6C" role="menu-item" href="/page/162">Batches</a>
            </li>
            <li>
                <a class="menuItem" data-id="91A6CFAD-B2F9-4294-BDAE-76DECF411C6C" role="menu-item" href="/page/5321">Benevolence</a>
            </li>
            <li class="header">Administration</li>
            <li>
                <a class="menuItem" data-id="91A6CFAD-B2F9-4294-BDAE-76DECF412C6C" role="menu-item" href="/page/190">Accounts</a>
            </li>
            <li>
                <a class="menuItem" data-id="91A6CFAD-B2F9-4294-BDAE-76DECF412C6C" role="menu-item" href="/page/282">Businesses</a>
            </li>
            <li>
                <a class="menuItem" data-id="91A6CFAD-B2F9-4294-BDAE-76DECF413C6C" role="menu-item" href="/page/5342">Giving Analytics</a>
            </li>
            <li>
                <a class="menuItem" data-id="91A6CFAD-B2F9-4294-BDAE-76DECF414C6C" role="menu-item" href="/page/305">Download Payments</a>
            </li>
            <li>
                <a class="menuItem" data-id="91A6CFAD-B2F9-4294-BDAE-76DECF415C6C" role="menu-item" href="/page/5344">Pledge Analytics</a>
            </li>*@
        </ul>
    </li>
    <li>
        <i class="fa fa-wrench"></i>
        <ul class="nav nav-childpages">
            <li class="title">系统工具</li>
            <li class="header">Reporting</li>
            @*<li>
                <a role="menu-item" href="/page/145">Data Views</a>
            </li>
            <li>
                <a role="menu-item" href="/page/149">Reports</a>
            </li>
            <li>
                <a role="menu-item" href="/page/280">Metrics</a>
            </li>
            <li>
                <a role="menu-item" href="/page/296">Attendance Analytics</a>
            </li>
            <li>
                <a role="menu-item" href="/page/328">Data Integrity</a>
            </li>
            <li class="header">Website</li>
            <li>
                <a role="menu-item" href="/page/108">HTML Content Approval</a>
            </li>
            <li>
                <a role="menu-item" href="/page/2303">Content</a>
            </li>
            <li>
                <a role="menu-item" href="/page/5338">Calendars</a>
            </li>
            <li>
                <a role="menu-item" href="/page/5347">Event Registration</a>
            </li>
            <li class="header">Workflow</li>
            <li>
                <a role="menu-item" href="/page/287">Workflows</a>
            </li>
            <li>
                <a role="menu-item" href="/page/292">My Workflows</a>
            </li>*@
        </ul>
    </li>
    <li>
        <i class="fa fa-briefcase"></i>
        <ul class="nav nav-childpages">
            <li class="title">系统管理</li>
            <li class="header">基础设置</li>
            <li>
                <a role="menu-item" href="/DataItem" target="iframepage">字典管理</a>
            </li>
            <li>
                <a role="menu-item" href="/Area" target="iframepage">行政区域</a>
            </li>
            <li>
                <a role="menu-item" href="#">单据编号<i class="fa fa-times"></i></a>
            </li>
            <li>
                <a role="menu-item" href="/Module" target="iframepage">功能菜单</a>
            </li>
            <li>
                <a role="menu-item" href="#">系统日志<i class="fa fa-times"></i></a>
            </li>
            <li>
                <a role="menu-item" href="#">插件管理<i class="fa fa-times"></i></a>
            </li>
            <li class="header">单位组织</li>
            <li>
                <a role="menu-item" href="/Organize" target="iframepage">机构管理</a>
            </li>
            <li>
                <a role="menu-item" href="/DepartMent" target="iframepage">部门管理</a>
            </li>
            <li>
                <a role="menu-item" href="/Role" target="iframepage">角色管理</a>
            </li>
            <li>
                <a role="menu-item" href="/Post" target="iframepage">岗位管理</a>
            </li>
            <li>
                <a role="menu-item" href="/Job"  target="iframepage">职位管理</a>
            </li>
            <li>
                <a role="menu-item" href="/UserGroup" target="iframepage">用户组管理</a>
            </li>
            <li>
                <a role="menu-item" href="/User"  target="iframepage">用户管理</a>
            </li>
        </ul>
    </li>
</ul>